body,
html {
    overflow: hidden;
}
.msg_fp {
    margin-right: 55%;
    margin-bottom: 0.5%
}

.msg_op {
    margin-left: 55%;
    margin-bottom: 0.5%
}

.msg {
    padding: 1%;
    padding-left: 2%
}

@keyframes menu_closed_kf {
    from {
        opacity: 1;
        transform: scale(100%, 100%);
    }
    to {
        opacity: 0;
        transform: scale(100%, 0%);
    }
}

@keyframes menu_open_kf {
    from {
        opacity: 0;
        transform: scale(100%, 0%);
    }
    to {    
        opacity: 1;
        transform: scale(100%, 100%);
    }
}

.menu_closed {
    transform-origin: top;
    animation-name: menu_closed_kf;
    animation-duration: 0.25s;
    transform: scale(100%, 0%);
}

.menu_open {
    transform-origin: top;
    animation-name: menu_open_kf;
    animation-duration: 0.25s;
    transform: scale(100%, 100%);
}

.dsbl {
    display: none;
}
@keyframes submenu_close_kf {
    from {
        opacity: 1;
        transform: translate(0%, 0);
    }
    to {
        opacity: 0;
        transform: translate(110%, 0);
    }
}
@keyframes submenu_open_kf {
    from {
        opacity: 0;    
        transform: translate(-110%, 0);
    }
    to {
        opacity: 1;
        transform: translate(0%, 0);
    }
}
.submenu_close {
    animation-name: submenu_close_kf;
    animation-duration: 0.25s;
    opacity: 0;
    transform: translate(110%, 0);
}
.submenu_open {
    animation-name: submenu_open_kf;
    animation-duration: 0.25s;
    opacity: 1;
    transform: translate(0%, 0);
}